<h1>Student Form</h1>
<%= form_for(@student) do |f| %>
  <%= label_tag :'student[first_name]', "First Name" %><br>
  <%= text_field_tag :'student[first_name]' %><br>

  <%= label_tag :'student[last_name]', "Last Name" %><br>
  <%= text_field_tag :'student[last_name]' %><br>

  <%= f.submit %>
<% end %>
